@media screen and (max-width: 768px) {
  body {
    padding: 0 10px;
  }

  header h1 {
    font-size: 2.3em;
  }

  .navbar .navbar-brand {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .navbar {
    padding: 0 10px;
  }

  .navbar .navbar-nav {
    margin-bottom: 10px;
  }

  .navbar .navbar-nav li a {
    padding: 10px 15px;
    margin: 0;
  }

  .navbar-form {
    margin: 0 0 -5px 0;
  }
}

.navbar li .glyphicon {
  vertical-align: middle;
}

.badge .glyphicon {
  vertical-align: middle;
  padding-right: 2px;
}

.pkg-list li .panel-title a {
  color: #333;
}

.pkg-list li .panel-footer p {
  font-size: 12px;
  text-align: right;
  margin-bottom: 0;
}

.pkg-search {
  margin-bottom: 0;
  margin-left: 10px;
}

.pkg-article .pkg-badges {
  margin-top: 2em;
}
