<div class="page-header">
  <h2>About</h2>
</div>

<p class="lead">
  This has been quite some time <a href="https://nicolas.perriault.net/">I</a>'m running the <a href="https://twitter.com/SublimePackages">@SublimePackages</a> account, periodically tweeting about latest and cool packages for the <a href="http://sublimetext.com/">Sublime Text</a> editor. I've been asked many times to build a dedicated website listing the packages I'm tweeting about, hence this very webapp.</p>
</p>

<hr>

<h3>How does it work?</h3>

<p>The app backend is regularly fetching packages information using the <a href="https://raw.github.com/wbond/package_control_channel/master/repositories.json">Package Control repository JSON database</a> on Github, and indexes the data in an <a href="http://elasticsearch.org/">ElasticSearch</a> database.</p>

<p>Of course, there are many possible evolutions to be expected, but I really wanted a Viable Product as Minimal as possible :)</p>

<p>For suggestions or bug reports, feel free to <a href="https://github.com/n1k0/stpackages/issues">file an issue</a>.</p>

<hr>

<h3>Limitations</h3>

<p>Right now, only packages hosted on <a href="https://github.com/">Github</a> are listed. I'll try to find time for adding support for other repository sources (like <a href="https://bitbucket.org/">bitbucket</a> for instance).</p>

<hr>

<h3>Technical stack</h3>

<p>
  This website has been mostly crafted using JavaScript and the following technologies:
</p>

<h4>Backend</h4>

<p>
  <a href="http://nodejs.org/">NodeJS</a>, using the following packages from <a href="http://npmjs.org/">NPM</a>:
</p>

<ul>
  <li>
    <a href="https://npmjs.org/package/express">express</a>
    for setting up a very basic HTTP application server
  </li>
  <li>
    <a href="https://npmjs.org/package/async">async</a>
    to deal with asynchronous operations
  </li>
  <li>
    <a href="https://npmjs.org/package/request">request</a>
    to perform outgoing HTTP requests
  </li>
  <li>
    <a href="https://npmjs.org/package/github">github</a>
    to consume the <a href="https://github.com/">Github</a> API
  </li>
  <li>
    <a href="https://npmjs.org/package/elasticsearchclient">elasticsearchclient</a>
    to query the <a href="http://elasticsearch.org/">ElasticSearch</a> index from Node.
  </li>
</ul>

<h4>Frontend</h4>

<ul>
  <li>
    <a href="http://angularjs.org/">AngularJS</a>
    to turn this very HTML page into a fully dynamic one
  </li>
  <li>
    <a href="http://getbootstrap.com/">Twitter Bootstrap 3</a>
    to give design some love
  </li>
  <li>
    <a href="https://github.com/chjj/marked">Marked</a>
    to transform github's README contents into HTML (this operation is performed client-side)
  </li>
  <li>
    <a href="http://softwaremaniacs.org/soft/highlight/en/">HighlightJS</a>
    to bring syntax coloration for code in READMEs
  </li>
</ul>

<hr>

<p class="lead">But it would be probably more efficient to check the code by yourself as the <a href="https://github.com/n1k0/stpackages">code behind this project is fully open source</a> (MIT licensed).</p>
