<div class="pkg-details">
  <article class="pkg-article">
    <div class="row page-header">
      <div class="col-lg-6">
        <h2><a href="/#/details/{{ package.slug }}">{{ package.name }}</a></h2>
      </div>
      <div class="col-lg-6">
        <div ng-include="'/partials/badges.html'"></div>
      </div>
    </div>
    <blockquote ng-if="package.description" class="pkg-description">
      <p>{{ package.description }}</p>
    </blockquote>
    <div class="panel" ng-show="package.readme">
      <div class="panel-heading">
        <h3 class="panel-title">README</h3>
      </div>
      <div class="pkg-readme md">{{ package.readme }}</div>
    </div>
  </article>
  <aside class="pkg-infos" ng-include="'/partials/infos.html'"></aside>
</div>
