<h2 ng-if="title">{{ title }}</h2>

<ul class="pkg-list list-unstyled">
  <li ng-repeat="package in packages">
    <section class="package-entry">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title pull-left">
            <a href="/#/details/{{ package.slug }}">{{ package.name }}</a>
          </h3>
          <ul class="list-inline pull-right">
            <li>
              <a href="{{ package.url }}/stargazers">
                <span class="badge">{{ package.nbStargazers }} stargazers</span>
              </a>
            </li>
            <li>
              <a href="{{ package.url }}/network">
                <span class="badge">{{ package.nbForks }} forks</span>
              </a>
            </li>
            <li>
              <a href="{{ package.url }}/issues">
                <span class="badge">{{ package.nbIssues }} issues</span>
              </a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <p>{{ package.description }}</p>
        <div class="panel-footer">
          <aside ng-include="'/partials/infos.html'"></aside>
        </div>
      </div>
    </section>
  </li>
</ul>

<p ng-if="packages.length === 0">No result.</p>
