<div class="page-header">
  <div class="row">
    <div class="col-lg-6">
      <h2 ng-if="title">{{ title }}</h2>
    </div>
    <div class="col-lg-6 text-right">
      <div ng-include="'partials/pagination.html'"></div>
    </div>
  </div>
</div>

<p ng-if="total" class="text-right">
  <em>{{ total }} packages.</em>
</p>

<ul class="pkg-list list-unstyled">
  <li ng-repeat="package in packages">
    <section class="package-entry">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title pull-left">
            <a href="/#/details/{{ package.slug }}">{{ package.name }}</a>
          </h3>
          <div ng-include="'/partials/badges.html'"></div>
          <div class="clearfix"></div>
        </div>
        <blockquote ng-if="package.description">
          <p>{{ package.description }}</p>
        </blockquote>
        <p ng-if="!package.description">(no description available)</p>
        <div class="panel-footer">
          <aside ng-include="'/partials/infos.html'"></aside>
        </div>
      </div>
    </section>
  </li>
</ul>

<p ng-if="packages.length === 0">No result.</p>
