<div class="page-header row">
  <h2 class="page-title col-lg-8">{{ title }}</h2>
  <div class="col-lg-4 nb-packages">
    <p class="lead pull-right"><span class="label">{{ total }} packages</span></p>
  </div>
</div>

<div class="row">
  <div class="col-lg-3 col-lg-pull-9">
    <div class="panel" ng-repeat="facet in facets">
      <div class="panel-heading">
        <h3 class="panel-title">{{ facet | facetLabel }}</h3>
      </div>
      <ul class="nav nav-pills nav-stacked">
        <li ng-class="{active: !filters[facet.field]}">
          <a ng-click="$api.resetFilter(facet.field)" href="javascript:void(0)">All</a>
        </li>
        <li ng-repeat="term in facet.terms" ng-class="{active: term.term==filters[facet.field]}">
          <a ng-click="$api.refine(facet.field, term.term)" href="javascript:void(0)">
            {{ facet | facetLabel:term.term }}
            <span class="badge pull-right">{{ term.count }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-9 col-lg-push-3">
    <ul infinite-scroll="$api.loadNext()" threshold="100" can-load="$api.canLoad" class="pkg-list list-unstyled">
      <li ng-repeat="package in packages">
        <section class="package-entry">
          <div class="panel">
            <div class="panel-heading">
              <h3 class="panel-title pull-left">
                <a href="/#/details/{{ package.slug }}">{{ package.name }}</a>
              </h3>
              <div ng-include="'/partials/badges.html'"></div>
              <div class="clearfix"></div>
            </div>
            <blockquote ng-show="package.description">
              <p>{{ package.description }}</p>
            </blockquote>
            <p ng-hide="package.description">(no description available)</p>
            <div class="panel-footer">
              <aside ng-include="'/partials/infos.html'"></aside>
            </div>
          </div>
        </section>
      </li>
      <li ng-show="!$api.canLoad">
        <div class="well well-small"><p>Loading…</p></div>
      </li>
    </ul>

    <div ng-if="$api.canLoad && packages.length === 0" class="well well-small">
      No result.
    </div>
  </div>
</div>
