<!DOCTYPE html>
<html lang="en" ng-app="SublimePackages">
<head>
  <meta charset="utf-8">
  <title>Sublime Packages</title>
  <link rel="stylesheet" type="text/css" href="/vendor/bootstrap-3.0.0RC1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/vendor/glyphicons/css/bootstrap-glyphicons.css">
  <link rel="stylesheet" type="text/css" href="/vendor/highlight/styles.css">
  <script src="/vendor/angular/angular-1.1.5.min.js"></script>
  <script src="/js/app.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
  .badge .glyphicon {
    vertical-align: middle;
    padding-right: 2px;
  }
  .pkg-list li .panel-title a {
    color: #333;
  }
  .pkg-list li .panel-footer p {
    font-size: 12px;
    text-align: right;
    margin-bottom: 0;
  }
  .pkg-search.navbar-form {
    margin-bottom: 0;
    margin-left: 10px;
  }
  </style>
</head>
<body>
  <div class="container">
    <header>
      <h1><a href="/#/">Sublime Packages</a></h1>
      <p class="lead">
        A searchable index of <a href="http://sublimetext.com/">Sublime Text</a>
        packages hosted on <a href="https://github.com/">Github</a> &amp; installable with
        <a href="http://wbond.net/sublime_packages/package_control">Package Control</a>.
      </p>
    </header>

    <div class="navbar" ng-controller="NavigationCtrl">
      <div class="container">
        <a class="navbar-brand" href="/#/" ng-click="setSection('recent')">Home</a>
        <ul class="nav navbar-nav">
          <li ng-class="{active: $section=='recent'}" ng-click="setSection('recent')">
            <a href="/#/recent">recent</a>
          </li>
          <li ng-class="{active: $section=='updated'}" ng-click="setSection('updated')">
            <a href="/#/updated">Updated</a>
          </li>
          <li ng-class="{active: $section=='popular'}" ng-click="setSection('popular')">
            <a href="/#/popular">Popular</a>
          </li>
        </ul>
        <form class="pkg-search navbar-form pull-left" ng-submit="submit()">
          <label>
            <input type="search" class="form-control" ng-model="q" placeholder="Search packages"
                   ng-click="setSection('search')">
          </label>
          <button type="submit" class="btn btn-primary">Search</button>
        </form>
        <ul class="nav navbar-nav pull-right">
          <li><a href="/#/about">About</a></li>
        </ul>
      </div>
    </div>

    <div class="main" ng-view></div>

    <hr>

    <footer class="well well-small text-center">
      Handcrafted with love by <a href="https://nicolas.perriault.net/">n1k0</a> |
      <a href="https://github.com/n1k0/stpackages/issues/new">Report an issue</a> |
      Follow <a href="https://twitter.com/SublimePackages">@SublimePackages</a> on Twitter
    </footer>
  </div>

  <script src="/vendor/marked/marked.js"></script>
  <script src="/vendor/highlight/highlight.pack.js"></script>
</body>
</html>
